<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{viewtitle}}</title>
</head>
<body>

    {{{body}}}
   <h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam officiis exercitationem commodi tempora totam, eum, tempore fugit nisi nobis et dolores illo fugiat! Aspernatur fugit animi illo consequuntur, cum reprehenderit?</h1>
</body>
</html>